@mixin buttons($button-color, $text, $text-size) {
  background-color: $button-color;
  color: $text;
  padding: 10px;
  border-radius: 5px;
  font-size: $text-size;
  font-weight: bold;
  &:hover {
       background-color: $text-color;
     }
  &:active {
       background-color: white;
     }
}

@mixin input() {
  font-size: 1.2em;
  text-align: left;
}

.label-input-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.label-input-box label {
  @include input();
  font-weight: bold;
  padding: 0;
}

.label-input-box input {
  @include input();
  border-radius: 5px;
  border: 1px solid $text-color;
  padding: .5em;
}

#log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.button-row {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.log-button {
  @include buttons($neutral-color, white, 1em);
  margin-left: .3em;
  margin-right: .2em
}

.hide {
  display: none;
  #log-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#log-hydration {
  @include buttons($hydration-color, black, .9em);
  margin-left: 0;
}

#log-sleep {
  @include buttons($sleep-color, black, .9em);
  margin-left: 0;
}

#log-activity {
  @include buttons($activity-color, black, .9em);
  margin-left: 0;
}

#submit-form {
  @extend .log-button;
}
