$text-color: #0026bf;
$background-color: rgb(198, 199, 207);
$sleep-color: hsla(228°, 65%, 77%, 1);
$activity-color: hsla(43°, 88%, 57%, 1);
$hydration-color: hsla(197°, 64%, 74%, 1);
$neutral-color: hsla(0°, 0%, 40%, 1);
