@import '/_variable.scss';
@import '/_form.scss';

html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  min-width: 320px;
  max-width: 100vw;
}

canvas {
  width: 200px;
  height: 100px;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100vw;

  .logo {
    display: inline-block;
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    font-weight: 300;
    color: $text-color;
    letter-spacing: .9px;

    @media screen and (max-width: 871px) {
      margin-top: 75px;
      margin-bottom: 0;
    }

    @media screen and (max-width: 850px) {
      position: absolute;
      margin-top: 75px;
      left: 25%;
    }

    @media screen and (max-width: 720px) {
      left: 20%;
      font-size: 1.4em;
    }

    @media screen and (max-width: 640px) {
      left: 15%;
      font-size: 1.3em;
    }

    @media screen and (max-width: 600px) {
      position: unset;
      margin: 0px;
    }
  }

  .date {
    background-color: $text-color;
    border-radius: 3px;
    font-size: 10px;
    margin: 5px 5px;
    padding: 4px 5px;
    position: relative;
    width: 175px;
    height: 16px;
    color: #EAEBEF;
    font-weight: 600;

    @media screen and (max-width: 871px) {
      padding: 4px 5px;
      height: 32px;
      width: 105px;
    }

    @media screen and (max-width: 850px) {
      position: relative;
      left: 0;
    }

     @media screen and (max-width: 600px) {
      left: 40%;
    }
  }

  .welcome-message {
    font-size: 3em;
    padding: 3px 15px;
    text-align: left;

    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }

  .username {
    font-weight: 600;
  }

  @media screen and (max-width: 850px) {
    position: relative;
    margin: 0 0 50px 0;
  }

  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }
}

main {
  columns: 3 435px;
  transition: 2;
  padding: 10px;
}

.data-section {
  background-color: #FEFEFE;
  break-inside: avoid;
  border-radius: 3px;
  margin: 5px;
  padding: 15px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px   10px rgba(0, 0, 0, 0.22);
  }

  .data-heading {
    margin: 0px 0px 15px 0px;
    font-size: 1.5em;
    font-weight: 200;
    color: $text-color;
    letter-spacing: 1px;
  }

  .data-article {
    font-weight: 300;
    font-weight: .8em;
    margin-top: 12px;
    text-align: center;

    .data-text {
      margin: 15px;
    }

    .subtext {
      font-size: 12px;
      font-weight: 700;
      margin: 5px;
      color: $text-color;
    }
  }
  .number-of-steps-day-article {
    height: 60px;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.3em;
  }
}

.water-consumed {
  margin: 5px;
}

.number-of-steps-day {
  margin: 20px;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  text-align: center;
}

.number-of-steps-goal {
  margin-top: 10px;
}

.img-medium {
  opacity: 0.6;
  width: 40px;
}

.separator {
  display: flex;
}

.user {
  width: 50%;
}

.border {
  border-right: 2px solid #5C75DA;
  height: 120px;
  margin-top: 15px;
}

.average {
  width: 50%;
}

h4 {
  font-weight: 600;
  font-size: 1em;
}

p {
  font-weight: 200;
  font-size: 1em;
}
